<div>
  <div class="border-bottom border-1 pb-4">
    <div class="row mt-3" style="width: 50%; margin: auto">
      <div class="mb-3">
        <h1>Buscar partida individual</h1>
      </div>
      <div class="col-8">
        <div class="form-group">
          <input type="text" placeholder="Llave del Evento" class="form-control" id="searchToken" required
                 [(ngModel)]="eventoToken" #token="ngModel"
                 [class.is-invalid]="!tokenValid && tokenTouched"
                 [class.is-valid]="tokenValid"
                  (input)="tokenTouched = false; tokenValid=false" />
          <div id="searchTokenFeedback" class="invalid-feedback">
            No se encontraron eventos activos con la llave dado
          </div>
        </div>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-outline-primary" style="padding-left: 20%; padding-right: 20%"
        (click)="searchEventos()">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-3" style="width: 90%; margin: auto">
    <div *ngFor="let partida of partidas; let i = index" class="col-4 mb-3">
      <div class="p-3 border border-1 rounded-1 shadow-sm matchBox" (click)="entrarAPartida(partida)">
        <div class="mb-3 border-bottom border-1 row pb-2">
          <div class="col-7">
            <h5> Partida {{i+1}}</h5>
          </div>
        </div>
        <div class="row">
          <h6>Configuración</h6>
          <div class="col-7">
            <div class="fs-6">Numero de naves: </div>
          </div>
          <div class="col-5">
            <div>{{evento!.numeronaves}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div>Tiempo de disparo: </div>
          </div>
          <div class="col-5">
            <div>{{evento!.tiempodisparo}} seg.</div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-7">
            <div>Adversario:</div>
          </div>
          <div class="col-5">
            <div>{{partida.jugador1}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-error-modal [mensajeError]="mensajeError"></app-error-modal>
