
BuscaminasAPI/.vs/

BuscaminasAPI/bin/

BuscaminasAPI/obj/

UnitTestsBuscaminas/bin/Debug/net5.0/CoverletSourceRootsMapping

UnitTestsBuscaminas/obj/Debug/net5.0/UnitTestsBuscaminas.assets.cache

UnitTestsBuscaminas/obj/Debug/net5.0/UnitTestsBuscaminas.GeneratedMSBuildEditorConfig.editorconfig
